<input type="button" value="Get" (click)="getData()">
<input type="button" value="Out" (click)="outputData()">

<div *ngIf="dataService.data">
  Name: <input [(ngModel)]="dataService.data.name"><br/>
  X/Y: <input [(ngModel)]="dataService.data.x">/<input [(ngModel)]="dataService.data.y"><br/>
  Spawn I/J: <input [(ngModel)]="dataService.data.spawnI">/<input [(ngModel)]="dataService.data.spawnJ"><br/>
  <span *ngFor="let texture of dataService.data.textureList; let n = index" >
      <img *ngIf="n!=0" src="assets/img/{{texture}}" (click)="selectImage(n)"/>
  </span><br/>
  Selected image: {{imgNo}}
  <table>
    <tr *ngFor="let row of dataService.data.tileData; let i = index">
      <td *ngFor="let cell of dataService.data.tileData[i]; let j = index" >
        <img src="assets/img/{{dataService.data.textureList[dataService.data.tileData[i][j].img]}} " (click)="setImage(i,j)"/>
      </td>
    </tr>
  </table>
  
  <br/>
  <div>{{dataService.textdata}}</div>
</div>
